.place-details {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding: 10px 20px;

    .name {
      font-size: 20px;
      display: space-around;
      text-transform: uppercase;
      width: 100%;

      button{
          border-radius: 5000px;
          padding: 2px;
          padding-left: 4px;
          padding-right: 4px;
          margin-left: 3px;
          margin-bottom: 4px;

          &:hover {
              cursor: pointer;
              background-color: #E5E5E5;
              transition: 2s ease;
          }
      }
    }
}
